@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

body {
    width: 100%;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    /*background-image: url(img\back.png);*/
    background-color: #28b358;
    line-height: 1;
    color: #fff;
}

body {
    overflow: auto;
    perspective: 1px;
    transform-style: preserve-3d;
}

body,
body * {
    transform-style: preserve-3d;
}

.logo:hover {
    opacity: (-0.5);
    background-color: #ffd508;
}

a:hover {
    transform: scale(-0.5);
}

.container {
    padding: 10%;
    max-width: 40em;
    margin: auto;
}


/* logo */

.container :nth-child(1) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}


/*algue*/

.container :nth-child(2) {
    transform: translateZ(0.2px) scale(0.8);
    z-index: 200;
    top: 300px;
    left: -300px;
}


/*meca*/

.container :nth-child(3) {
    transform: translateZ(0.3px) scale(0.7);
    z-index: 300;
    top: 600px;
    left: 300px;
}


/* lien */

.container :nth-child(4) {
    transform: translateZ(0.1px) scale(0.9);
    z-index: 100;
    top: 1200px;
    left: 20px;
}


/* rouge */

.container :nth-child(5) {
    transform: translateZ(-2px) scale(3);
    z-index: -2000;
    top: 2500px;
    left: 1300px;
}


/* jaune */

.container :nth-child(6) {
    transform: translateZ(0.4px) scale(0.6);
    z-index: 400;
    top: 800px;
    left: 50px;
}


/* gros bleu */

.container :nth-child(7) {
    transform: translateZ(-1px) scale(2);
    z-index: -1000;
    top: 400px;
    left: 1000px;
}


/* tool */

.container :nth-child(8) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 100px;
    left: 1200px;
}


/* leef */

.container :nth-child(9) {
    transform: translateZ(0.4px) scale(0.6);
    z-index: 400;
    top: 900px;
    left: 500px;
}


/* lien github */

.container :nth-child(10) {
    transform: translateZ(-1px) scale(2);
    z-index: 1;
    top: 1800px;
    left: 100px;
}

.container>* {
    position: absolute;
}

img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.leef {
    max-width: 60%;
    height: auto;
    max-width: 300px;
}

.bleu {
    width: 90%;
    height: auto;
    max-width: 900px;
}

h1,
h2 {
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 5em;
    color: #fff;
}

h2 {
    font-size: 3em;
    transform: translateZ(0.2px) scale(0.8);
    z-index: 200;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 95%;
}

.tooltip {
    position: relative;
    background: #275cab;
    padding: 5px 12px;
    margin: 5px;
    font-size: 15px;
    border-radius: 100%;
    color: #FFF;
    margin-left: 950px;
}

.tooltip:before,
.tooltip:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
}

.tooltip:before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: #f58537 transparent transparent transparent;
    top: -15px;
    transform: translateY(20px);
}

.tooltip:after {
    content: attr(data-tooltip);
    background: #f58537;
    width: 160px;
    height: 40px;
    font-size: 13px;
    font-weight: 300;
    top: -75px;
    left: -10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
}

.footer {
    text-align: center;
    color: #e9c46a;
    bottom: 50px;
}
